<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<form action="emailController/login" method="post">
    <tr>
        <td>用户名：</td>
        <td><input type="text" name="username" value="admin"/></td>
    </tr>
    密码：<input type="password" name="password" value="admin"/><br/>
    <input type="submit" value="登录"/>
</form>
</table>
<h4 style="color: red;"><a href="/emailController/jsp_register">免费注册</a></h4>
<h4 style="color: blue;"><a href="/emailController/jsp_forgetPwd">忘记密码?</a></h4>
</body>
</html>